.privacy-policy {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: white;
    left: 10%;
    position:relative;
    padding-top: 150px;
    font-family: Inter;
  
    h1 {
      color: white;
      margin-bottom: 15px;
      font-size: 20px;
    }
  
    h2 {
      color: white;
      margin-top: 20px;
      margin-bottom: 10px;
      font-size: 20px;
    }
  
    p {
      color: white;
      line-height: 1.8;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 12;

    }
  
    footer {
      margin-top: 40px;
      p {
        font-size: 12px;
        color: white;
      }
    }
  }
  