@import '../../../style/variable.scss';
@import "~react-image-gallery/styles/scss/image-gallery.scss";

.wrapbox-heading-account {
    padding: 10px 0 15px
;
}
.wrapbox-heading-account  {
    font-size: 4.5rem;
    font-weight: bold;
    line-height: initial;
    color: #fff;
   
    text-align: center;
}
.wrapbox-content-account {
    
    padding-top: 340px;
    text-align: center;
}
.large_form{
    margin-bottom: 40px;
    
    .email{
        color: white;
        left: 30%;
        position: absolute;
        font-size: large;
      
    }
    .mk{
        color: white;
        left: 30%;
        position: absolute;
        font-size: large;
        top: -25%;
    }
    
}

.userbox input[type=email], .userbox input[type=password] {
    width: 42%;
    height: 55px;
    border: 1px solid transparent;
    background: #2c2727;
    color: white;
    padding: 0 20px;
    font-weight: 500;
    font-size: 15px;
   
    //outline: none;

    
}
.userbox .action_bottom {
     margin-top: 30px;
     
}


.action_account_custommer .req_pass {
    margin-left: 30px;
    margin-right: 170px;
    font-size: 15px;
    padding-top: 30px;
    line-height:20px;
    text-align: left;
    
   
}
.action_account_custommer .action_bottom, .action_account_custommer .req_pass {
    display: inline-block;
    vertical-align: middle;
    color: #959898;
    font-weight: 500;
}
.userbox .action_bottom .btn {
    color: #fff;
    font-size: 15px;
    display: inline-block;
    border-radius: 0;
    padding: 0 30px;  
    height: 55px;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid transparent;
    text-align: center;
    background-color: #E89C31;
  
}
.wrapbox-heading-account .header-page:after {
    content: "";
    background: #000;
    display: block;
    width: 60px;
    height: 4px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.header-page {
    position: absolute;
          top: 110px;
          left: 44%;
          font-weight: 800;
          display: inline-block;
          width: 301px;
          height: 40px;
          opacity: 0.37;
    color:red;
}





.image-gallery .img1 {
    width: 300px;
    height: 300px;
    padding-top: 44px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 12px;
    left: -380px;
    background-image: url("../../../../public/images/1b12ae5838b830d79b48bf05c4c651e6.jpg");
}
.image-gallery .img7 {
    width: 300px;
    height: 300px;
    padding-top: 44px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 12px;
    left: 1520px;
    background-image: url("../../../../public/images/1b12ae5838b830d79b48bf05c4c651e6.jpg");
}

.image-gallery .img2 {
    width: 300px;
    height: 300px;
    padding-top: 44px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 12px;
    left: -120px;
    background-image: url("../../../../public/images/img2.png");
}
.image-gallery .img8 {
    width: 300px;
    height: 300px;
    padding-top: 44px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 12px;
    left: 1800px;
    background-image: url("../../../../public/images/img2.png");
}

.image-gallery .img3 {
    width: 300px;
    height: 300px;
    padding-top: 44px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 12px;
    left: 210px;
    background-image: url("../../../../public/images/img3.png");
}
.image-gallery .img9 {
    width: 300px;
    height: 300px;
    padding-top: 44px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 12px;
    left: 2110px;
    background-image: url("../../../../public/images/img3.png");
}

.image-gallery .img4 {
    width: 300px;
    height: 300px;
    padding-top: 44px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 12px;
    left: 540px;
    background-image: url("../../../../public/images/img4.png");
}
.image-gallery .img10 {
    width: 300px;
    height: 300px;
    padding-top: 44px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 12px;
    left: 2340px;
    background-image: url("../../../../public/images/img4.png");
}
.image-gallery .img5 {
    width: 300px;
    height: 300px;
    padding-top: 44px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 12px;
    left: 870px;
    background-image: url("../../../../public/images/img5.png");
}
.image-gallery .img11 {
    width: 300px;
    height: 300px;
    padding-top: 44px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 12px;
    left: 2670px;
    background-image: url("../../../../public/images/img5.png");
}
.image-gallery .img6 {
    width: 300px;
    height: 300px;
    padding-top: 44px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 12px;
    left: 1200px;
    background-image: url("../../../../public/images/img6.png");
}
.image-gallery .img12 {
    width: 300px;
    height: 300px;
    padding-top: 44px;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 12px;
    left: 3000px;
    background-image: url("../../../../public/images/img6.png");
}

.req_pass .signup{
    color: white;
    left: 600px;
    position: absolute;
}
.title {
    position: absolute;
    top: 123px;
    left: 92px;
    width: 397px;
    height: 268px;
    text-align: left;
    font-size: 96px;
    font-family: Inter;
}
.title .n{
    position: absolute;
    height: 39.66%;
    width: 10.71%;
    top: 45.52%;
    left: 0%;
    font-weight: 800;
    color: #c42424;
    display: inline-block;
}
.title .h {
    position: absolute;
    height: 39.66%;
    width: 11.23%;
    top: 45.52%;
    left: 29.9%;
    font-weight: 800;
    display: inline-block;
    color:#E89C31;
}
.title .aa{
    position: absolute;
    height: 39.66%;
    width: 10.15%;
    top: 45.52%;
    left: 60.58%;
    font-weight: 800;
    display: inline-block;
    color:#E89C31;
}
.title .p{
    position: absolute;
    height: 39.66%;
    width: 10.71%;
    top: 45.52%;
    left: 90.2%;
    font-weight: 800;
    color: #c42424;
    display: inline-block;
}
.title .dd{
    position: absolute;
    height: 49.25%;
    width: 21.84%;
    top: 0%;
    left: 0%;
    font-weight: 800;
    color: #c42424;
    display: inline-block;
}
.title .aw{
    position: absolute;
    height: 39.66%;
    width: 10.71%;
    top: 0%;
    left: 29.95%;
    font-weight: 800;
    display: inline-block;
    color: #E89C31;
}
.title .n2{
    position: absolute;
    height: 39.66%;
    width: 11.23%;
    top: 0%;
    left: 59.9%;
    font-weight: 800;
    display: inline-block;
    color: #E89C31;
}


.title .g {
    position: absolute;
    height: 39.66%;
    width: 11.23%;
    top: 0%;
    left: 88.77%;
    font-weight:800;
    color: #c42424;
    display: inline-block;
}

.title .aw:hover{
    color: #c42424;
}
.title .n2:hover{
    color: #c42424;
}
.title .h:hover{
    color: #c42424;
}
.title .aa:hover{
    color: #c42424;
}

.image-gallery {
    display: flex;
    width: 3600px; // Thay đổi theo số lượng và kích thước của ảnh
    animation: slideRightInfinite 30s linear infinite;
    white-space: nowrap;
margin-top: 18%;  
margin-bottom: -10%;
}
  
  .image-gallery .img {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    flex-shrink: 0;
    margin: 0; // Đảm bảo không có margin
    padding: 0; // Đảm bảo không có padding
    border: none; // Đảm bảo không có border
    
  }
  @keyframes slideRightInfinite {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); // Chỉ di chuyển một nửa độ dài tổng thể để chu kỳ bắt đầu lại
    }
  }
  