.property-1frame-10-child,
.property-1frame-10-inner,
.property-1frame-10-item {
  position: absolute;
  top: 0;
  left: -588px;
  width: 130px;
  height: 130px;
  object-fit: cover;
}
.property-1frame-10-inner,
.property-1frame-10-item {
  left: -735px;
}
.property-1frame-10-inner {
  left: -882px;
}
.property-1frame-10-child1,
.property-1frame-10-child2,
.property-1frame-10-child3 {
  position: absolute;
  top: 0;
  left: -441px;
  width: 130px;
  height: 130px;
  object-fit: cover;
}
.property-1frame-10-child2,
.property-1frame-10-child3 {
  left: -294px;
}
.property-1frame-10-child3 {
  left: -147px;
}
.property-1frame-10-child4,
.property-1frame-10-child5,
.property-1frame-10-child6 {
  position: absolute;
  top: 0;
  left: 294px;
  width: 130px;
  height: 130px;
  object-fit: cover;
}
.property-1frame-10-child5,
.property-1frame-10-child6 {
  left: 147px;
}
.property-1frame-10-child6 {
  left: 0;
}
.property-1frame-10-child7,
.property-1frame-10-child8,
.property-1frame-10-child9 {
  position: absolute;
  top: 0;
  left: 441px;
  width: 130px;
  height: 130px;
  object-fit: cover;
}
.property-1frame-10-child8,
.property-1frame-10-child9 {
  left: 588px;
}
.property-1frame-10-child9 {
  left: 735px;
}
.property-1frame-10 {
  position: absolute;
  top: 217px;
  left: 20px;
  width: 865px;
  height: 130px;
}
