@import '../../../style/variable.scss';

.footer {
    background: #232323;
    color: $white-color;
    padding-top: 40px;
    height: 400px;
    margin-top: 100px;
}

.footer .footer__title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.footer .footer__description {
    color: #979597;
    font-size: 1.4rem;
    line-height: 2.8rem;
    .name{
      color: white;
      font-size: 20px;
    }
}

.footer__description .fanpage {
    padding-top: 50%;
    background-size: contain;
    width: 270px;
    display: block;
    background-repeat: no-repeat;
    background-image: url("../../../../public/images/407353694_325375797018324_806353794585540679_n.jpg");
    position: relative;
}

.footer .big-logo {
    width: 330px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../../../../public/images/header-logo.png");
    background-color: white;
}



.fanpage-name {
    color: $white-color;
    font-weight: 500;
    font-size: 1.8rem;
    position: absolute;
    top: 16px;
    left: 68px;
}



